/* ProfileBanner.module.css */
.banner {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #fff;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 50%;
}

.avatarWrapper {
    margin-right: 20px;
}

.userInfoWrapper {
    flex-grow: 1;
}
