.user-profile-optional-data {
    color: #fff;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.user-profile-optional-data h2 {
    color: #aad;
}

.user-profile-optional-data ul {
    list-style: none;
    padding: 0;
}

.user-profile-optional-data li {
    background-color: #444;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}


.user-profile-optional-data-button {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    color: #cccccc;
    padding: 10px;
    margin: 0;
    border-radius: 50%;
}

.user-profile-optional-data-button:hover {
    color: #1da1f2;
    background: rgba(255,255,255,0.2);
}

