.widgetCard {
    flex: 1 1 0;
    padding: 10px;

    justify-content: start;
    background: #333333;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0 0 10px white, inset 0 0 10px white;
    transition: all 0.3s ease-in-out;
}


.widgetCard:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.widgetTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widgetContent {
    font-size: 14px;
}

.widgetContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    gap: 10px;
}



/* Other styles remain the same */
