.messages-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 90vh;
}

.content-area {
    width: 100%;
    padding: 20px;
}

.search-create-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-create-bar input {
    width: 70%;
    padding: 10px;
}

.search-create-bar button {
    width: 25%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-list li {
    width: 100%;
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}


.chat-list li:hover {
    background-color: var(--background-color7);
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chat-header button {
    padding: 5px 10px;
    margin-right: 20px;
}

.chat-content {
    /* Стили для контента чата */
}

.messages-user-icon{
    width: 45px;
    height: 45px;
    border-radius: 50%; /* Круглая иконка */
    object-fit: cover;
    margin-right: 10px;
}

.messages-user-icon-small{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Круглая иконка */
    object-fit: cover;
    margin-right: 10px;
}


/* ChatView.css */
.messages {
    position: relative;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    background: transparent;
    height: calc(100% - 150px);
}

.messages::-webkit-scrollbar {
    display: none;
}

.messages {
    scrollbar-width: none;
}

.unviewed-message{
    background: rgba(255, 255, 255, 0.1);
}

.message-margin-left{
    margin-left: 85px;
}

.change-color-on-hover{
    color: #aaaaaa;
}
.change-color-on-hover:hover{
    color: gray;
}

.hover-list-item:hover{
    background: var(--background-color3);
}