.navigation-list-positioning {
    position: fixed;
    left: calc(50% - 550px - 125px);
    top: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(95deg, transparent, var(--background-color) 80%);
    border: none;
    padding: 0;
    z-index: 999;
    list-style: none;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.navigation-list {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    width: 250px;
}

@media (max-width: 1450px) {
    .navigation-list-positioning {
        left: 0;
    }

}

.navigation-list li {
    font-family: Georgia, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
}
.navigation-list p {
    padding-left: 40px;
}

.navigation-list li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.navigation-list li a:hover {
    color: var(--text-color4);
}

.logout-btn{
    color: #777777;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.logout-btn:hover{
    color: indianred;
    transition-duration: 1s;
}

.user-details-on-panel{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.user-details-on-panel:hover{
    background: var(--background-color9);
    border-radius: 50px;
    transition-duration: 1s;
}

.MuiMenu-paper {
    background-color: red;
    color: #fff;
    border-radius: 8px;
}
